{% extends "base.html" %}

{% block body %}
<header>
    <h1>Vet Manager</h1>
    <ul>
        <li><a href="/"><p> Home </p></a></li>
        <li><a href="/pet"><p>Pets</p></a></li>
        <li><a href="/vet_list"><p>Vets</p></a></li>
        <li><a href="/add_new_pet"><p>Add New Pet</p></a></li>
        <li><a href="/add_new_vet"><p>Add New Vet</p></a></li>
        <li><a href="/edit"><p>Edit Pet</p></a></li>

    </ul>
</header>


{% for pet in pet_guest %}
<ul>
    <li>{{ pet.pets_name}}, {{ pet.date_of_birth }},{{ pet.pet_type }},{{ pet.contact_details}} {{ pet.treatment_notes }}, {{ pet.vet.full_name }}</li>
</ul>


<div class="buttons">

    <form class="delete-form" action="/pet/{{pet.id}}/delete" method="POST"> <!-- NEW -->
        <button type="submit">Delete Pet</button> <!-- NEW -->
    </form>
{% endfor %}
{% endblock %}

