{% extends "base.html" %}
{% block head %}{% endblock %}
{% block body %}
<head><link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"></head>
<header>
    <h1>Vet Manager</h1>
    <ul>
        <li><a href="/"><p> Home </p></a></li>
        <li><a href="/pet"><p>Pets</p></a></li>
        <li><a href="/vet_list"><p>Vets</p></a></li>
        <li><a href="/add_new_pet"><p>Add New Pet</p></a></li>
        <li><a href="/add_new_vet"><p>Add New Vet</p></a></li>
        <li><a href="/edit"><p>Edit Pet</p></a></li>

    </ul>
</header>
{% for pets in pet_guest %}
<ul>
    <li>{{ pets.pets_name}}, {{ pets.date_of_birth }},{{ pets.pet_type }},{{ pets.contact_details}} {{ pets.treatment_notes }}, {{ pets.vet.full_name }}</li>
</ul>


<div class="buttons">

    <form class="delete-form" action="/pet/{{pets.id}}/delete" method="POST"> 
        <button type="submit">Delete Pet</button> 
    </form>
{% endfor %}
{% endblock %}

