
{% extends "base.html" %}
{% block head %}{% endblock %}
{% block body %}
<head><link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"></head>
<header>
    <h1>Vet Manager</h1>
    <ul>
        <li><a href="/"><p> Home </p></a></li>
        <li><a href="/pet"><p>Pets</p></a></li>
        <li><a href="/vet_list"><p>Vets</p></a></li>
        <li><a href="/add_new_pet"><p>Add New Pet</p></a></li>
        <li><a href="/add_new_vet"><p>Add New Vet</p></a></li>
        <li><a href="/edit"><p>Edit Pet</p></a></li>
    </ul>
</header>

<form action="/add_new_vet" method="POST">
    <div>
        <label for="full_name">Vets Name:</label>
        <input type="text" id="full_name" name="full_name" placeholder="Full_Name" value="Brian Smith"  required autofocus>
    </div>
    
    <button type="submit">Add Vet</button>
</form>

{% endblock %}

