{% extends "base.html" %}

{% block body %}
<header>
    <h1>Vet Manager</h1>
    <ul>
        <li><a href="/"><p> Home </p></a></li>
        <li><a href="/pet"><p>Pets</p></a></li>
        <li><a href="/vet_list"><p>Vets</p></a></li>
        <li><a href="/add_new_pet"><p>Add New Pet</p></a></li>
        <li><a href="/add_new_vet"><p>Add New Vet</p></a></li>
        <li><a href="/edit"><p>Edit Pet</p></a></li>

    </ul>
</header>

{% for vet in vet_staff %}
<ul>
    <li>{{vet.full_name }}</li>
</ul>
{% endfor %}
{% endblock %}